.update_overlay
	.row
		.small-11.medium-9.large-6.small-centered.columns
			.modal
			
				= form_for BusinessCar.new, remote: true do |f|

					.row
						.small-11.columns
						.small-1.columns
							%a.close-reveal-modal ×
					.row
						.small-9.small-centered.columns
							= label_tag :make, nil
							= f.text_field :make
							%br

							= label_tag :model, nil
							= f.text_field :model
							%br
							= label_tag :mileage, nil
							= f.text_field :mileage
							%br
							= label_tag :nickname, nil
							= f.text_field :nickname
							.small-6.small-centered.columns.end
								= submit_tag "ADD CAR", class: "button success expand"
.add_overlay
	.row
		.small-11.medium-9.large-6.small-centered.columns
			.modal
			
				= form_for BusinessCar.new, remote: true do |f|

					.row
						.small-11.columns
						.small-1.columns
							%a.close-reveal-modal ×
					.row
						.small-9.small-centered.columns
							= label_tag :make, nil
							= f.text_field :make
							%br

							= label_tag :model, nil
							= f.text_field :model
							%br
							= label_tag :mileage, nil
							= f.text_field :mileage
							%br
							= label_tag :nickname, nil
							= f.text_field :nickname
							.small-6.small-centered.columns.end
								= submit_tag "ADD CAR", class: "button success expand"