.overlay
	.row
		.small-11.medium-9.large-6.small-centered.columns
			.modal
				= form_tag business_cars_path do
					.row
						.small-11.columns
						.small-1.columns
							%a.close-reveal-modal ×
					.row
						.small-9.small-centered.columns
							= label_tag :make, nil
							= text_field_tag :make, params[:make]
							%br

							= label_tag :model, nil
							= text_field_tag :model, params[:model]
							%br
							= label_tag :mileage, nil
							= text_field_tag :mileage, params[:mileage]
							%br
							= label_tag :nickname, nil
							= text_field_tag :nickname, params[:nickname]
							.small-6.small-centered.columns.end
								= submit_tag "ADD CAR", class: "button expand success"
%nav.top-bar{"data-topbar" => ""}
	%ul.title-area
		%li.name
			%h1
				%a Business Car App
.jaguar-top-banner
	= image_tag('jaguar_top_banner.jpg')
.first-point-banner
	.small-11.medium-9.large-7.small-centered.columns
		%h1 In a world of constant travel
		%h1 Meetings half way across the city
		%h1 It's nice to keep track of the corporate car
.second-point-banner
	.row
		-@cars.each do |c|
			.small-6.columns
				.car-box
					.small-6.columns
						%h2= c.nickname
					.small-6.columns
						%button.button.expand
							Update
					.small-6.columns
						%h3 Make
						%h4= c.make
					.small-6.columns
						%h3 Model
						%h4= c.model
					.small-6.columns	
						%h3 Mileage
						%h4= c.mileage
					.small-6.columns	
						%button.button.alert.expand
							Delete

.add-banner
	.row
		.small-4.small-centered.columns
			.add-button
				%button.button.expand.success.add
					Add a Car

.neon-lights-banner
	= image_tag ('neon_lights_banner.jpg')
						
						

